<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="always">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/media/images/favicon.ico">

    <meta property="og:type" content="article" />
    <link rel="stylesheet" type="text/css" href="/media/compiled_less/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/media/css/pygments.css">

 <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: false,
          skipTags: ["script","noscript","style","textarea","code"]
        }
      });
  </script>

   <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-99638564-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-99638564-3');
  </script>


  <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-5N4X39G');
  </script>
  <!-- End Google Tag Manager -->
 </head>
<body>

    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5N4X39G"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="hero-box">
<div class="hero-box">
  <div class="hero-inner min-padded">
    <a href="/">
      <h3 class="heavy pull-left">&laquo; scalebsd.org</h3>
    </a>
    <!-- All on one line seems crazy but it prevents small form factors trying to fit them over multiple lines -->
        <h3 class="white contact-me pull-right">
      <a href="https://www.twitter.com/ScaleBSD/" alt="Twitter"><i class="icon-twitter"></i></a><a href="https://github.com/scalebsd/" alt="GitHub"><i class="icon-github"></i></a><a href="mailto:mmacy@mattmacy.io" alt="Email"><i class="icon-envelope-alt"></i></a>
    </h3>
  </div>
</div>
    <div class="container">
  {{ content }}

    </div>
     <link rel="stylesheet" type="text/css" href="/media/css/fontawesome/fontawesome.css" />
  <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="/media/css/fontawesome/fontawesome-ie7.css" />
  <![endif]-->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,700' rel='stylesheet' type='text/css'>

</body>
</html>
